<%= form_for(@from_station_way) do |f| %>
  <% if @from_station_way.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@from_station_way.errors.count, "error") %> prohibited this from_station_way from being saved:</h2>

      <ul>
      <% @from_station_way.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
