<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @office.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @office.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @office.longitude %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @office.comment %>
</p>

<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>
